.element {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.element.visible {
  opacity: 1;
  transform: translateY(0);
}

.titleShadow{
  /* -webkit-text-stroke: 1px var(--mantine-color-primary-9); */
  position: relative;
  color: var(--mantine-color-primary-6);
  text-shadow: 2px 2px 0px var(--mantine-color-main-0);
  z-index: 1;
}

.mainBody {
  flex-grow: 1;
  background-color: var(--mantine-color-main-9);
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, var(--mantine-color-main-7) 1px, transparent 1px),
    linear-gradient(to bottom, var(--mantine-color-main-7) 1px, transparent 1px);
  /* background-position: center; */

  /* background-size: 100px 100px;
  background-image:
    linear-gradient(45deg, 
      var(--mantine-color-primary-3) 25%, transparent 26%, 
      transparent 50%, var(--mantine-color-primary-3) 51%, 
      var(--mantine-color-primary-3) 75%, transparent 76%); */
}

.header-main {
  height: 60;
  padding: 10;
  background-color: var(--mantine-color-main-10);
  border-bottom: 2px solid var(--mantine-color-accent-6);
}

footer {
  height: 90;
  padding: 10;
  width: 100%;
  background-image: 
    radial-gradient(circle at 50%, var(--mantine-color-main-6) 80%, var(--mantine-color-main-8));
  background-repeat: no-repeat;
  border: none;
}

.pixel-img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}