.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.titleShadow{
  /* -webkit-text-stroke: 1px var(--mantine-color-primary-9); */
  position: relative;
  text-shadow: 4px 3px 0px var(--mantine-color-darkAccent-0);
  z-index: 1;
}

.mainBody {
  flex-grow: 1;
  background-color: var(--mantine-color-dark-9);
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, var(--mantine-color-dark-7) 1px, transparent 1px),
    linear-gradient(to bottom, var(--mantine-color-dark-7) 1px, transparent 1px);
  /* background-position: center; */

  /* background-size: 100px 100px;
  background-image:
    linear-gradient(45deg, 
      var(--mantine-color-primary-3) 25%, transparent 26%, 
      transparent 50%, var(--mantine-color-primary-3) 51%, 
      var(--mantine-color-primary-3) 75%, transparent 76%); */
}

header {
  height: 60;
  padding: 10;
  color: var(--mantine-color-light-0);
  background-color: rgba(0, 0, 0, 0.432);
  border: none
}

footer {
  height: 90;
  padding: 10;
  width: 100%;
  background-image: 
    radial-gradient(circle at 50%, var(--mantine-color-dark-6) 80%, var(--mantine-color-dark-8));
  background-repeat: no-repeat;
  color: var(--mantine-color-light-0);
  border: none;
}