.container {
    
    &:hover {
        .imagecontainer {
            transform: translateY(-5px);
            box-shadow: 2px 2px 0px 5px var(--mantine-color-accent-6);
            transition: all 0.2s ease; 
            
        }
        .image {
            transform: scale(1.07);
            transition: transform 0.2s ease
        }
        .cardTitle{
            text-decoration: underline;
        }
    }
}

.imagecontainer {
    box-shadow: 2px 2px 0px 5px var(--mantine-color-main-0);
    overflow: hidden;
    transform: translateY(0px);
    transition: all 0.2s ease
    
}

.image {
    transform: scale(1.0);
    transition: transform 0.3s ease
}

