.paperparent {
    position: relative;
    &:hover{
        .backpaper1 {
            transform: scaleX(1.05) scaleY(1);
            rotate: 1deg;
            transition: all 0.06s ease-out;
        }
        .backpaper2 {
            transform: scaleX(1.08), scaleY(1);
            rotate: -1deg;
            transition: all 0.06s ease-out;
        }
    }
}

.backpaper1, .backpaper2 {
    position: absolute;
    z-index: 0;
    
    width: 100%;
    height: 100%;
    
    border-radius: 10px;
    rotate: 0deg;
    transform: scale(1.00);
    transition: all 0.06s ease;
}

.backpaper1{
    background-color: var(--mantine-color-primary-9);
    right: 0;
}

.backpaper2{
    background-color: var(--mantine-color-primary-8);
    left: 0;
}

.inner {
    position: relative;
    z-index: 10;
}