.paperparent {
    position: relative;
    &:hover{
        .backpaper1 {
            
            transform: matrix(1.05, -0.008, 0, 1.04, 0, 0);
            
            transition: all 0.06s ease-out;
        }
        .backpaper2 {
            transform: matrix(1.05, -0.008, 0, 1.04, 0, 0);
            transition: all 0.18s ease-out;
        }
    }
}

.backpaper1, .backpaper2 {
    position: absolute;
    z-index: 0;
    
    width: 100%;
    height: 100%;
    
    border-radius: 10px;
    rotate: 0deg;
    transform: scale(1.00);
}

.backpaper1{
    border: var(--mantine-color-main-0) solid 2px ;
    transition: all 0.09s ease;

}

.backpaper2{
    border: var(--mantine-color-accent-1) solid 2px ;
    transition: all 0.03s ease;

}

.inner {
    position: relative;
    background-image: linear-gradient(-10deg, var(--mantine-color-main-3), var(--mantine-color-main-0));
    z-index: 10;
}