.paperparent {
    position: relative;
    &:hover{
        .backpaper1 {
            
            transform: matrix(1.03, -0.03, 0, 1.05, 0, 0);
            
            transition: all 0.06s ease-out;
        }
        .backpaper2 {
            transform: matrix(1.03, 0.03, 0, 0.98, 0, 0);
            transition: all 0.06s ease-out;
        }
    }
}

.backpaper1, .backpaper2 {
    position: absolute;
    z-index: 0;
    
    width: 100%;
    height: 100%;
    
    border-radius: 10px;
    rotate: 0deg;
    transform: scale(1.00);
    transition: all 0.06s ease;
    background-color: var(--mantine-color-accent-5);

}

.inner {
    position: relative;
    z-index: 10;
}