@property --stop1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 30%;
}

.wrapper{
    position: relative;
    overflow: hidden;
    --bg-color-1: var(--mantine-color-accent-5);
    --bg-color-2: var(--mantine-color-accent-4);
    background-color: var(--bg-color-1);
    background-image: linear-gradient(var(--bg-color-1), var(--bg-color-2));
    /* background-image: linear-gradient(var(--mantine-color-accent-5), var(--mantine-color-accent-6)); */
    /* background-image: linear-gradient(var(--mantine-color-accent-6), var(--mantine-color-accent-8) 85%, var(--mantine-color-accent-7) 100%); */
    box-shadow: 2px 3px 4px var(--mantine-color-accent-8);
    isolation: isolate;
    &:hover {
        .polkadot {
            --stop1: 51%;
            transform: scale(1.04);
            transition: --stop1 0.5s ease, transform 0.3s ease;
        }
    }
}


.polkadot {
    --mask: linear-gradient(245deg, rgb(0 0 0), rgb(0 0 0 /0) 50%);
    --dot-color: var(--mantine-color-accent-6);
    --stop1: 30%;
    --bgSize: 2rem;
    --offsetSize: 1rem; 
    --polka-bg-img: 
        radial-gradient(var(--dot-color) var(--stop1), transparent var(--stop1)),
        radial-gradient(var(--dot-color) var(--stop1), transparent var(--stop1));
    --bg-position: 0px 0px, var(--bgOffset) var(--bgOffset);

    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    
    background-image: var(--polka-bg-img);
    background-position: 0px 0px, var(--offsetSize) var(--offsetSize);
    background-size: var(--bgSize) var(--bgSize);

    mask-image: var(--mask);

    transform: scale(1.0);
    transition: --stop1 0.5s ease, transform 0.4s ease;
}

.content{
    position: relative;
    z-index: 10;
}
