.wrapper{
    position: relative;
    overflow: hidden;
    background-color: var(--mantine-color-primary-6);
    isolation: isolate;
}

.polkadot {
    --mask: linear-gradient(rgb(0 0 0), rgb(0 0 0 /0) 50%);
    --stop1: 30%;
    --bgSize: 2rem;
    --offsetSize: 1rem; 
    --polka-bg-img: 
        radial-gradient(var(--mantine-color-primary-5) var(--stop1), transparent var(--stop1)),
        radial-gradient(var(--mantine-color-primary-5) var(--stop1), transparent var(--stop1));
    --bg-position: 0px 0px, var(--bgOffset) var(--bgOffset);

    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    
    background-image: var(--polka-bg-img);
    background-position: 0px 0px, var(--offsetSize) var(--offsetSize);
    background-size: var(--bgSize) var(--bgSize);

    mask-image: var(--mask);
}

.content{
    position: relative;
    z-index: 10;
    color: var(--mantine-color-light-0);
    border: white 2px ;
}
